<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
111222---
<a href="/management/index">点我假装去后台</a>
<a th:if="${su!=null}" href="/token/logout">退出</a>
<button id="ajax">点我请求404ajax</button>
<script src="/static/plugins/jquery/jquery-1.11.3.min.js"></script>
<script th:inline="javascript">
    $(function () {
        $("#ajax").click(function () {
            $.ajax({
                url: "/test1",
                success: function (data) {
                    alert(data)
                },
                error: function (data) {
                    alert(JSON.stringify(data))
                }
            })
        })
    })
</script>
</body>
</html>