<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Lowin</title>
    <link rel="stylesheet" href="/static/assets/css/frontend/login.css" type="text/css">
</head>

<body>
<div class="lowin lowin-red">
    <div class="lowin-brand">
        <img src="/static/assets/img/login_avatar.jpg" alt="logo">
    </div>
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form>
                    <p>登录以继续</p>
                    <div class="lowin-group">
                        <label>账号 <a href="#" class="login-back-link"></a></label>
                        <input type="email" autocomplete="email" name="email" class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>密码 <a href="#" class="forgot-link">忘记密码？</a></label>
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button class="lowin-btn login-btn">
                        登  录
                    </button>

                    <div class="text-foot">
                       还没有账号？ <a href="" class="register-link">点我注册</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="lowin-box lowin-register">
            <div class="lowin-box-inner">
                <p>
                    <a href="#"><img src="/static/assets/img/qq.png" style="width: 50px;"></a>
                </p>
                <p style="margin-top: 20px;">QQ 第三方注册</p>
                <div class="text-foot">
                    已有账号？ <a href="" class="login-link">点我登录</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="lowin-footer">
        <p><i class="fa fa-graduation-cap"></i> 2019 <a href="https://github.com/miyakowork/noteblogv4" target="_blank">千夏博客&copy;</a></p>
        <p>
            <span><a href="//wuwenbin.me" target="_blank">作者博客</a></span>&nbsp;
            <span><a href="https://github.com/miyakowork/noteblogv4" target="_blank">获取源码</a></span>&nbsp;
            <span><a href="//fly.layui.com/case/u/3425688" target="_blank">点赞作者</a></span>
        </p>
    </footer>
</div>
<script src="/static/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="/static/assets/js/frontend/login.js"></script>
<script>
    Auth.init({
        login_url: '/#login',
        forgot_url: '/#forgot'
    });

    $("form").submit(function () {
        alert($(this).attr("action"));
        alert(111)
        return false;
    })
</script>
</body>
</html>