<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>发布文章</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/plugins/layuiadmin/style/admin.css" media="all">
</head>
<body>
<style>
    input[disabled] {
        color: #cccccc;
        background-color: rgba(194, 194, 194, 0.3);
    }
</style>
<div class="layui-fluid layui-anim layui-anim-upbit" id="LAY-article-add">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md9">
            <div class="layui-card layui-form">
                <div class="layui-card-body" style="padding-top: 25px;">
                    <div class="layui-form-item">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入文章标题"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-item layui-row layui-col-space20">
                        <div class="layui-col-md10">
                            <input type="text" name="urlSeq" required lay-verify="required"
                                   placeholder="自定义文章链接，例如：/my-first-blog，支持系统生成的链接和自定义链接两个同时访问"
                                   lay-filter="urlSeq" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-col-md2">
                            <input type="checkbox" name="" title="自定义文章链接" lay-skin="primary" lay-filter="customUrl"
                                   checked>
                        </div>
                    </div>
                    <hr>
                    <div class="layui-form-item">

                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body">22</div>
            </div>
        </div>
    </div>
</div>

<script src="/static/plugins/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/plugins/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'article']);
</script>
</body>
</html>